

{% include "hackanation/base.html" %}


<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>

<div id="right" style="padding: 100px;width: calc( 100% - 600px )">

<h1>Prize: <a style="color: #CF1052" class="box-link" href="{{ prize.website }}" >{{ prize.name }}</a></h1>

<h2 style="color: #66BB6A">${{ prize.value }}</h2>

<h4>Category: <span style="color:#3789B0">{{ prize.category }}<span></h4>

<p>{{ prize.description }}</p>

<p>Value: {{ prize.value_description }}</p>

<p>Teams:</p>


<div id="right-content" class="grid" style="margin-left: -50px;margin-right:-50px;margin-top:-50px;">
{% for project in projects %}
      <div  class="box grid-item {% if page == "rewarded" %} box-green{% endif %}" style="width: 150px">
        <div class="box-left">
          <p class="box-left-title" style="margin-right:50px"><a style="text-decoration: none; color: inherit;"  href="{{ project.website }}"  >{{ project.name }}</a></p>
	  <p class="box-left-txt" style="margin-right:50px;">{{ project.team_name }}</p>
	</div>
</div>
{% endfor %}
</div>



<div style="position: fixed; right: 10px;bottom: 10px;">
<p style="color:#555;text-align:center;margin-left:-10px;">Get help from<br /> a mentor</p>
<img src="http://www.freeiconspng.com/uploads/help-icon-26.png" style="height:100px;margin-top:-20px;"/>
</div>


<script>
  $('#search-btn').click( function(ev){
      load("/search");
  });
</script>
<script>
    $('.grid').masonry({
      // options
      itemSelector: '.grid-item',
      columnWidth: 161
     });
</script>
